<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					List of data in real time.
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			Showing sensors from <a href="http://air.imag.fr/index.php/Salles_AIR" target="_blank">Salle air</a> in real-time. Server is connected to MQTT broker. Received messages are written into "Sensors" collection and shown to users. You can also see the Kadira monitoring at this <a href="https://ui.kadira.io/apps/id8kbEvc3KqRxFJ4n/dashboard/overview" target="_blank">page</a>
		</p>
		{{> HomeView}}
	</div>
</template>

<template name="HomeView">
	<div id="home-view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> HomeViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="HomeViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="topic">
					Sensor ID
				</th>
				<th class="th-sortable" data-sort="Temperature">
					Temperature
				</th>
				<th class="th-sortable" data-sort="Humidity.value">
					Humidité
				</th>	
				<th class="th-sortable" data-sort="Luminance.value">
					Luminance
				</th>
				<th class="th-sortable" data-sort="modifiedAt">
					Présence
				</th>
				<th class="th-sortable" data-sort="modifiedAt">
					Date
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> HomeViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="HomeViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{id}}
		</td>
		<td>
			{{temperature.value}}{{Temperature.value}} °C
		</td>
		<td>
			{{humidity.value}} {{humidity.unit}} {{humidity.status}}
		</td>
		<td>
			{{Luminance.value}} {{Luminance.units}}
		</td>
		<td>
			{{motion.value}}
		</td>
		<td>
			{{modifiedAt}}
		</td>
	</tr>
</template>

